@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our site.</h1>
    <hr />
    <br />
    <h3>On this site you are able to create new employees and you as a employee can make
        a leave request.
    </h3>
    <br />
    <h5>
        Feel free to look around, create some employees and create some leave requests. 
        <br />
        You can also search for a specific employee by first and last name.
    </h5>
    <br />
    <img src="https://www.system100.com/wp-content/uploads/2018/03/Leave-Request.png" alt="Logo" />
</div>
